<div class="card">
  <div class="card-header">
    <h4>Lista de Almacenes</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Ubicación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warehouse of warehouses">
          <td>{{ warehouse.name }}</td>
          <td>{{ warehouse.location }}</td>
          <td>
            <!-- Menú desplegable con acciones -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Acciones
              </button>
              <ul class="dropdown-menu">
                <!-- <li>
                  <a class="dropdown-item" role="button" (click)="onWarehouseSelect(warehouse._id, 'stats')"
                    *ngIf="isOwner">
                    Ver Estadísticas
                  </a>
                </li> -->
                <li>
                  <a class="dropdown-item" role="button" (click)="onWarehouseSelect(warehouse._id, 'charts')"
                    *ngIf="isOwner">
                    Ver Estadísticas
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Sección para mostrar estadísticas del almacén -->
<div *ngIf="selectedWarehouseId">
  <div class="card mt-4">
    <div class="card-header">
      <h4>Estadísticas del Almacén</h4>
    </div>
    <div class="card-body">
      <p><strong>Total de Stock:</strong> {{ warehouseStats.totalStock }}</p>
      <p><strong>Total Invertido:</strong> {{ warehouseStats.totalInvested | currency }}</p>
      <p><strong>Total Ganado:</strong> {{ warehouseStats.totalEarned | currency }}</p>
    </div>
  </div>

  <!-- Mostrar estadísticas de productos -->
  <div *ngIf="products.length > 0">
    <div class="card mt-4">
      <div class="card-header">
        <h4>Estadísticas de Productos</h4>
      </div>
      <div class="card-body">
        <div *ngFor="let product of products">
          <div class="mb-3">
            <h5>Producto: {{ product.name }}</h5>
            <p><strong>Total Stock:</strong> {{ productStats[product._id].stock }}</p>
            <p><strong>Total Invertido:</strong> {{ productStats[product._id].invested | currency }}</p>
            <p><strong>Total Ganado:</strong> {{ productStats[product._id].earned | currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección para mostrar los gráficos -->
  <div *ngIf="selectedWarehouseId">
    <div class="card mt-4">
      <div class="card-header">
        <h4>Gráficas del Almacén</h4>
      </div>
      <div class="card-body">
        <canvas id="warehouseChart"></canvas>
      </div>
    </div>

    <!-- Gráfico de estadísticas de productos -->
    <div *ngIf="products.length > 0">
      <div class="card mt-4">
        <div class="card-header">
          <h4>Gráfico de Estadísticas de Productos</h4>
        </div>
        <div class="card-body">
          <canvas id="productChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
