<footer class="py-2">
    <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">© 2024, MyInventoryHub for a better inventory. </p>
      <ul class="flex items-center gap-4">
        <li>
          <a href="#" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">MyInventoryHub</a>
        </li>
        <li>
          <a href="#" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Sobre nosotros</a>
        </li>
        <li>
          <a href="#" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Privacidad</a>
        </li>
        <li>
          <a href="#" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Licencia</a>
        </li>
      </ul>
    </div>
  </footer>