<div class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" routerLink="/" routerLinkActive="active">
                    <img src="/logo.png" alt="Logo" style="width: 30px; height: 30px; margin-right: 10px;">MyInventoryHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">Nuestra misión es empoderar a los negocios con herramientas inteligentes para simplificar y 
                                optimizar la gestión de su inventario.
                            </h1>
                            <p class="lead fw-normal text-muted mb-4">"Entendemos los desafíos que enfrentan los negocios en la gestión diaria de su inventario. 
                                Por eso, hemos diseñado una plataforma que combina tecnología avanzada con una interfaz intuitiva, permitiendo a los usuarios reducir errores, 
                                ahorrar tiempo y tomar decisiones basadas en datos. Nuestro objetivo es ayudarte a mantener el control total de tu inventario, 
                                para que puedas centrarte en hacer crecer tu negocio."</p>
                            <a class="btn btn-primary btn-lg" href="#scroll-target">Conoce más</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="/little_business.jpg" alt="pequeño negocio" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Nuestra idea nace de...</h2>
                        <p class="lead fw-normal text-muted mb-6">"Las necesidades reales de los pequeños y medianos negocios. 
                            Hemos escuchado las historias de quienes enfrentan desafíos diarios en la gestión de su inventario y
                            nos hemos inspirado en sus experiencias para crear una solución práctica, accesible y eficiente. Nuestro compromiso 
                            es facilitar la organización y el control, convirtiendo tareas complejas en procesos sencillos y productivos."</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="/app_use.jpg" alt="hombre usando la aplicación" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">El impacto que queremos lograr</h2>
                        <p class="lead fw-normal text-muted mb-6">Nuestro objetivo es transformar la forma en que los negocios gestionan su inventario, 
                            ayudándolos a reducir pérdidas, ahorrar tiempo y tomar decisiones más informadas. Creemos que al ofrecer herramientas 
                            accesibles y efectivas, estamos contribuyendo a que cada negocio, sin importar su tamaño, alcance su máximo potencial.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team members section-->
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder">Nuestro equipo</h2>
                    <p class="lead fw-normal text-muted mb-5">Dedicados a la calidad y a tu éxito</p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="/joel-dev.jpg" alt="Joel Dorta" />
                            <h5 class="fw-bolder">Joel Dorta</h5>
                            <div class="fst-italic text-muted">Desarrollador</div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="/ancor-dev.jpg" alt="Ancor González" />
                            <h5 class="fw-bolder">Ancor González</h5>
                            <div class="fst-italic text-muted">Desarrollador</div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-sm-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="/jonathan-dev.jpg" alt="Jonathan Martínez" />
                            <h5 class="fw-bolder">Jonathan Martínez</h5>
                            <div class="fst-italic text-muted">Desarrollador</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; MyInventoryHub 2024</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</div>