<!-- Selector para elegir el campo de búsqueda -->
<label for="searchCriteria">Buscar por:</label>
<select id="searchCriteria" [(ngModel)]="searchCriteria">
  <option value="name">Nombre</option>
  <option value="contactName">Nombre del contacto</option>
  <option value="contactEmail">Email</option>
  <option value="contactPhone">Teléfono</option>
  <option value="address">Dirección</option>
  <option value="id">ID</option>
</select>


<!-- Campo de búsqueda --> 
<input type="text" [(ngModel)]="searchTerm" (input)="filterSuppliers()" placeholder="Buscar..." />

<!-- Botón para mostrar el formulario de adición -->
 <div>
  <button (click)="startAddSupplier()">Añadir Proveedor</button>
 </div>

<!-- Formulario para añadir un nuevo proveedor, visible solo si isAdding es true -->
<div *ngIf="isAdding">
  <h3>Añadir Nuevo Proveedor</h3>
  <form (ngSubmit)="addSupplier()">
    <label for="name">Nombre:</label>
    <input type="text" [(ngModel)]="newSupplier.name" name="name" required />

    <label for="contactName">Nombre del Contacto:</label>
    <input type="text" [(ngModel)]="newSupplier.contactName" name="contactName" required />

    <label for="contactEmail">Email:</label>
    <input type="email" [(ngModel)]="newSupplier.contactEmail" name="contactEmail" required />

    <label for="contactPhone">Teléfono:</label>
    <input type="text" [(ngModel)]="newSupplier.contactPhone" name="contactPhone" required />

    <label for="address">Dirección:</label>
    <input type="text" [(ngModel)]="newSupplier.address" name="address" required />

    <button type="submit">Guardar Proveedor</button>
    <button type="button" (click)="cancelAdd()">Cancelar</button>
  </form>
</div>


<!-- Tabla de proveedores -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Nombre del Contacto</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of filteredSuppliers">
      <td>{{ supplier.id }}</td>
      <td>{{ supplier.name }}</td>
      <td>{{ supplier.contactName }}</td>
      <td>{{ supplier.contactEmail }}</td>
      <td>{{ supplier.contactPhone }}</td>
      <td>{{ supplier.address }}</td>
    </tr>
  </tbody>
</table>
